td, th{
    border: solid 1px gray;
}

td:hover{
    background-color: rgb(98, 95, 131);
}

.pagination, .checkbox{
    margin: 1% 0 1%;
}

.checkbox{
    text-align: center;
}

.basic{
    background-color: lightgray;
}

